body{
    background-color: rgb(133, 175, 175);
}
#cad{
    width: 39%;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    background-color: rgb(51, 51, 93);
    padding: 1.5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5%;
    border-collapse: collapse;
}
.campo {
    margin-bottom: 15px;
}

.horarios-row {
    display: flex;
    margin-bottom: 10px;
}

input[type="radio"].horario {
    margin-right: 5px;
}


input[type="radio"].horario:disabled + label {
    color: red; 
    text-decoration: line-through; 
    cursor: not-allowed; 
}
