body{
    background-color: rgb(133, 175, 175);
}
#cad{
    width: 39%;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    background-color: rgb(51, 51, 93);
    padding: 1.5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5%;
    border-collapse: collapse;
}
.campo{
    display: block;
}